@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

body {
  background-color: black;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
}

header .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  max-width: 40px;
}

header .menu-desktop nav ul {
  list-style-type: none;
}

header .menu-desktop nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 40px;
}

header .menu-desktop nav ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

.btn-contato button,
.hero-site button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.btn-contato button {
  width: 140px;
  height: 50px;
  font-size: 18px;
}

.hero-site button {
  width: 220px;
  height: 60px;
  font-size: 20px;
}

.btn-contato button:hover,
.hero-site button:hover {
  background-color: white;
  color: black;
}

.menu-desktop nav a:hover {
  transform: scale(1.05);
}

section.hero-site {
  height: 98vh;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-site .interface {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
}

.txt-hero h1 {
  font-size: 4em;
  line-height: 70px;
  font-weight: 200;
}

.txt-hero h1 span {
  display: block;
  font-weight: 800;
}

.txt-hero p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0;
}

.txt-hero p span {
  display: block;
}
