@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

body {
  background-color: #e3e3e3;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  transition: 0.3s;
}

header .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  max-width: 40px;
  margin-left: 30px;
}

header .logo img.logo-dark {
  display: none;
}

header.rolar {
  background-color: white;
  padding: 20px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

header.rolar .menu-desktop nav ul li a {
  color: black;
}

header.rolar .btn-contato button {
  border: 1px solid black;
  color: black;
}

header.rolar .btn-contato button:hover {
  background-color: black;
  color: white;
}

header.rolar .logo .logo-light {
  display: none;
}

header.rolar .logo .logo-dark {
  display: block;
}

header .menu-desktop nav ul {
  list-style-type: none;
}

header .menu-desktop nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 40px;
}

header .menu-desktop nav ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

.btn-contato button,
.hero-site button,
.cardapio button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.btn-contato button {
  width: 140px;
  height: 50px;
  font-size: 18px;
}

.hero-site button {
  width: 220px;
  height: 60px;
  font-size: 20px;
}

.cardapio button {
  width: 220px;
  height: 60px;
  font-size: 20px;
}

.btn-contato button:hover,
.hero-site button:hover,
.cardapio button:hover {
  background-color: white;
  color: black;
}

.menu-desktop nav a:hover {
  transform: scale(1.05);
}

section.hero-site {
  height: 98vh;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-site .interface {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
}

.txt-hero h1 {
  font-size: 4em;
  line-height: 70px;
  font-weight: 200;
}

.txt-hero h1 span {
  display: block;
  font-weight: 800;
}

.txt-hero p {
  font-size: 30px;
  font-weight: 300;
  margin: 20px 0;
}

.txt-hero p span {
  display: block;
}

section.vantagens {
  padding: 80px 0;
}

.vantagens .itens-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  margin-bottom: 60px;
}

.vantagens .itens-container .img-itens img {
  max-width: 480px;
  border-radius: 16px;
  box-shadow: 3px 5px 25px rgb(153, 153, 153);
}

.vantagens .itens-container h3 {
  font-size: 3em;
  line-height: 50px;
  margin-bottom: 20px;
}

.vantagens .itens-container h3 span {
  font-weight: 300;
}

section.contato {
  background-color: #fff;
  padding: 80px 0;
}

.txt-contato,
.icons-contato {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}

.contato .txt-contato h3 {
  font-size: 2.5em;
}

.contato .txt-contato h3 span {
  display: block;
  font-weight: 700;
}

.contato .icons-contato a {
  text-decoration: none;
}

.contato .icons-contato button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.2em;

  width: 60%;
  height: 60px;
  margin: 0 auto 20px auto;
  padding: 0 60px;

  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;

  transition: 0.5s;
}

.contato .icons-contato button i {
  font-size: 20px;
}

.contato .icons-contato button:hover {
  background-color: black;
  color: white;
}

section.cardapio {
  height: 600px;
  background-image: url(../images/call-to-action.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  color: white;
  text-align: center;
}

.cardapio > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000b9;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cardapio > .interface {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 2;
  position: relative;
}

.cardapio h3 {
  font-size: 3em;
  line-height: 50px;
  font-weight: 200;
}

.cardapio h3 span {
  display: block;
  font-weight: 600;
}

.cardapio p {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 300;
}

section.como-funciona {
  padding: 80px 0;
}

.txt-funciona,
.instrucoes {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}

.txt-funciona {
  position: sticky;
  top: 50%;
  padding-bottom: 40px;
}

.como-funciona .txt-funciona h3 {
  font-size: 4em;
  line-height: 60px;
  font-weight: 300;
}

.como-funciona .txt-funciona h3 span {
  display: block;
  font-weight: 700;
}

.instrucoes .instru-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid black;
}

.instru-box img {
  max-width: 100px;
}

.instrucoes .instru-box h4 {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 10px;
}

.instrucoes .instru-box h4 span {
  font-weight: 300;
}

.instrucoes .instru-box p {
  line-height: 20px;
}

footer {
  background-color: #000;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

footer .top-footer button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.5s;
}

footer .top-footer button:hover {
  background-color: #fff;
  color: #000;
}

footer .middle-footer {
  margin: 20px 0;
}

footer .middle-footer a {
  color: #fff;
  margin: 0 15px;
}

footer .bottom-footer {
  border-top: 2px solid white;
}

footer .bottom-footer p,
footer .bottom-footer a {
  color: white;
  margin-top: 15px;
  display: block;
}
